# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache
*.db

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep
!app/static/uploads/profiles/
app/static/uploads/profiles/*
!app/static/uploads/profiles/default_profile.jpeg

# Migrations (optional - uncomment if you want to ignore)
# migrations/
